h1,
h2,
p,
a {
  font-family: Helvetica;
}

.title {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("patter.jpeg");
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h2 {
  font-weight: bold;
}
